@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=PT+Serif:wght@700&family=Roboto+Slab:wght@400;500;600&display=swap");

body {
  background-color: rgba(101, 0, 184, 0.33);
}

nav {
  background-color: rgba(224, 191, 227, 1);
  padding: 5px;
  border-width: 0px;
  margin: 0px;
}

a:link {
  color: rgba(118, 47, 158, 0.83);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:visited {
  color: rgba(118, 47, 158, 0.83);
}

a:hover {
  color: black;
}

nav li {
  list-style-type: none;
}

h1 {
  font-family: "Merriweather", serif;
}

h2 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tekst {
  background-color: rgba(224, 191, 227, 1);
}

dl {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

dd,
dt {
  margin: 0;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(224, 191, 227, 1);
  padding: 25px;
  border-width: 2px;
  margin: 0px;
}

img {
  max-width: 100%;
}

#link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside {
  background-color: rgba(118, 47, 158, 0.59);
  padding: 10px;
}

#tablet {
  margin-left: auto;
  margin-right: auto;
}

.grid_2-3 {
  border: 2px solid rgba(118, 47, 158, 0.83);
  padding: 5px;
}
.grid_3-2 {
  border: 2px solid rgba(118, 47, 158, 0.83);
  padding: 5px;
}

.udseende {
  max-width: 65ch;
}

footer {
  background-color: rgba(224, 191, 227, 1);
}
